<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Langan nimi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    </head>

    <body style="background-color:#F0F0FF; font-family: arial">
        <a href="/">Etusivulle</a>

        <h1><span th:text="${omaNimi.otsikko}"></span></h1>
        <h3><span th:text="${omaNimi.viestiNro}"></span> | <span th:text="${omaNimi.aikaleima}"></span></h3>
        <ul>
            <li th:each="vastaukset: ${vastaukset}">
                <p>
                    <span th:text="${vastaukset.viestiNro}">viestinumero</span> | <span th:text="${vastaukset.aikaleima}">aikaleima</span><br/>
                    <span th:text="${vastaukset.teksti}">kommentti</span>
                </p>
            </li>
        </ul>
        <form method="POST" action="">
            Vastaa lankaan:<br/>
            <textarea id="txtArea" rows="4" cols="30" name="teksti"></textarea>
            <p><input type="submit" value="Lähetä"/></p>
        </form>
    </body>
</html>
