<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Langan nimi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        
        
    </head>
    
    <body style="background-color:#FFF0F0">
        <ul>
            <li th:each="omaNimi: ${omaNimi}">
                <h1><span th:text="${omaNimi.viestiNro}"></span></h1>
            </li>
        </ul>
        <ul>
            <li th:each="vastaukset: ${vastaukset}">
                <a th:href="${'/v/' + vastaukset.viestiNro}"> <b><span th:text="${vastaukset.teksti}"></span></b> </a>
            </li>
        </ul>
    </body>
</html>
